/* General Rules (universal rules and text size) */
* {
    font-family: -apple-system, BlinkMacSystemFont, 'Inter', 'Montserrat', system-ui;
}

html {
    background-color: #eee;
}

body {
    margin: 0;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.75rem;
}

h3 {
    font-size: 1.5rem;
}

p, a {
    font-size: 1.2rem;
}


/* Navbar Rules */
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-grow: 1;
    flex-wrap: wrap;

    height: fit-content;
    width: 100%;
    
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;

    background-color: white;
    transition: 0.35s ease;
}

nav a {
    color: black;
    text-decoration: none;
    transition: 0.2s ease;
    padding: 13px 20px;
}

nav a.active {
    font-weight: bold;
}

nav a.click:hover {
    text-decoration: underline;
    cursor: pointer;
}

nav a.click:active {
    color: #017dde;
}

nav .special {
    font-weight: bold;
}

nav .special:hover {
    background: -webkit-linear-gradient(#017dde, #fe1ef1);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 0.2s ease;
}

nav span {
    background-color: red;
    color: white;
    padding: 2px 5px;
    margin: 0 5px;
    border-radius: 5px;
    z-index: 2;
}

/* Header Rules */
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    padding: 100px;
    margin-top: 50px;
    height: 300px;

    background-image: url(assets/background_light.png);
    background-repeat: no-repeat;
    background-size: cover;

}

header h1 {
    color: white;
    font-size: 4rem;
    text-shadow: 2px 2px rgba(255, 255, 255, 0.4);
    transition: 0.5s ease;
}

header h1:hover {
    font-size: 4.5rem;
    transition: 0.5s ease;
}

header p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.5rem;
    transition: 0.3s ease;
}

/* About Rules */
#about {
    margin: 60px 30px;
    text-align: center;
    transition: 0.35s ease;
}

#about h2 {
    transition: 0.35s ease;
}

#about a {
    color: black;
    transition: 0.2s ease;
}

#about a:hover {
    color: #017dde;
    transition: 0.2s ease;
}

#about a:active {
    color: #fe1ef1;
    transition: 0.2s ease;
}

/* Knowledge Rules */
#knowledge {
    transition: 0.35s ease;
    text-align: center;
    margin: 60px 30px;
}

#knowledge h2 {
    transition: 0.35s ease;
}

#kcont, #kcont2 {
    display: flex;
    margin: 35px auto;
}

#kcont div, #kcont2 div {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 5px 15px;
}

#kcont img, #kcont2 img {
    scale: 0.8;
    opacity: 0.7;
    transition: 0.35s ease;
    padding: 10px;
}

#kcont img:hover, #kcont2 img:hover {
    scale: 1;
    opacity: 1;
    transition: 0.35s ease;
}

#knowledge div div p {
    padding: 10px;
    margin: 0;
}

#kcont img.light {
    display: block;
}

#kcont img.dark {
    display: none;
}

/* Projects */
#projects {
    margin: 60px 30px;
    transition: 0.35s ease;
    text-align: center;
}

#projects h2 {
    transition: 0.35s ease;
}

#projects img {
    width: 300px;
    height: auto;
    border-radius: 15px;
    padding: 10px;
    transition: 0.2s ease;
}

#projects img:hover {
    scale: 1.075;
}

#pcont, #pcont div {
    display: flex;
}

#pcont {
    justify-content: space-around;
    align-items: center;
}

#pcont div {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 2px 5px;
    margin: 10px 10px 10px 0;
    width: 45%;
    height: fit-content;
    border-radius: 15px;
    align-items: center;
    text-align: center;
    justify-content: center;
}

#pcont div div {
    display: flex;
    flex-direction: column;
    background-color: transparent;
}

#pcont div div h3 {
    transition: 0.2s ease;
}

#projects a {
    color: black;
    transition: 0.2s ease;
}

#projects a:hover {
    color: #017dde;
    transition: 0.2s ease;
}

#projects a:active {
    color: #fe1ef1;
    transition: 0.2s ease;
}

/* Contact */
#contact {
    margin: 60px 30px;
    text-align: center;
}

#contact h2 {
    transition: 0.35s ease;
}

#ccont {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 1;
}

#ccont img {
    width: auto;
    height: auto;
    scale: 0.5;
    opacity: 0.7;
    transition: 0.35s ease;
}

#ccont div {
    display: flex;
    flex-direction: row;
    margin: 0 30px;
    width: 45%;
    height: fit-content;
    align-items: center;
}

#ccont div p {
    width: 100%;
}

#ccont div a {
    color: black;
    transition: 0.2s ease;
}

#ccont div a:hover {
    color: #017dde;
    transition: 0.2s ease;
}

#ccont div a:active {
    color: #fe1ef1;
    transition: 0.2s ease;
}

.onlymobile { /* gets hidden since display width is high */
    display: none;
}


/* Behind The Scenes Rules*/
#bts {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 30px;
    margin-bottom: 60px;
    text-align: center;
    transition: 0.35s ease;
}

#bts h2 {
    transition: 0.35s ease;
}

#bts div {
    display: flex;
    align-items: center;
}

#bts div p {
    padding: 0 15px;
}

#bts img {
    width: 50%;
    max-width: 750px;
    min-width: 400px;
    margin: 0 20px;
    border-radius: 20px;
    transition: 0.35s ease;
}

#bts div a {
    color: black;
    transition: 0.2s ease;
}

#bts div a:hover {
    color: #017dde;
    transition: 0.2s ease;
}

#bts div a:active {
    color: #fe1ef1;
    transition: 0.2s ease;
}

/* Footer Rules */
footer {
    display: flex;
    flex-wrap: wrap;
    margin: 30px 5px 5px 5px;
}

footer p {
    padding: 5px 10px;
    margin: 0;
}

footer p, footer a {
    font-size: 0.8rem;
}

.reducedopacity {
    opacity: 0.6;
}

footer a {
    color: black;
    transition: 0.2s ease;
}

footer a:hover {
    color: #017dde;
    transition: 0.2s ease;
}

footer a:active {
    color: #fe1ef1;
    transition: 0.2s ease;
}


/* Media queries for website responsiveness */
/* Knowledge container changes direction to column */
@media only screen and (max-width: 1400px) {
    #pcont {
        width: 100%;
        align-self: center;
    }

    #pcont div{
        flex-wrap: wrap;
        width: 400px;
    }

    #kcont, #kcont2 {
        flex-direction: column;
        margin-left: 5%;
        margin-right: 5%;
    }

    #kcont div, #kcont2 div {
        margin-left: 0;
    }

    #kcont div img, #kcont2 div {
        margin: 0 20px;
    }
}

/* Small UI fixes for contact container when stacked vertically */
@media only screen and (max-width: 1250px) {
    #ccont {
        margin: 0;
    }

    #ccont div {
        width: 100%;
    }

    nav .hide {
        display: none;
    }
}

/* Project divs get stacked vertically instead of horizontally */
@media only screen and (max-width: 950px) {
    #pcont {
        margin-right: 0;
        flex-direction: column;
    }

    #pcont, #pcont div {
        align-items: center;
    }
}

/* Knowledge and BTS divs get stacked vertically instead of horizontally */
@media only screen and (max-width: 1000px) {
    #ccont {
        flex-direction: column;
        width: 100%;
    }

    #ccont div p {
        padding-right: 50px;
    }

    #bts div {
        flex-direction: column-reverse;
    }

    #bts img {
        width: 85%;
    }
}

/* Margins reduced to waste less space */
@media only screen and (max-width: 750px) {
    #about {
        margin-left: 20px;
        margin-right: 20px;
    }

    #kcont, #kcont2 {
        margin-left: 0;
        margin-right: 0;
    }

    #projects {
        margin-left: 20px;
        margin-right: 20px;
    }

    #ccont div {
        margin-left: 0;
    }

    #bts {
        margin-left: 20px;
        margin-right: 20px;
    }

    #bts div {
        margin-left: 0;
    }

    #bts div p {
        padding: 0 15px 0 0;
    }

    #bts img {
        width: 95%;
    }

}

/* Navbar becomes static */
@media only screen and (max-width: 700px) {
    nav {
        position: static;
        margin: 0;
    }

    header {
        margin-top: 0;
    }
}

/* Email contact text gets changed to fit display */
@media only screen and (max-width: 500px) {
    .onlydesktop {
        display: none;
    }

    .onlymobile {
        display: block;
    }
}

/* Containers increase their width to waste less space */
@media only screen and (max-width: 450px) {
    #pcont div {
        width: 90%;
    }

    #pcont img {
        width: 90%;
    }

    header {
        margin-top: 0;
    }
} 

/* Header text becomes smaller for really small devices (iPhone SE 1st gen and Apple Watches?) */
@media only screen and (max-width: 375px) {
    header h1 {
        font-size: 3.25rem;
    }

    header h1:hover {
        font-size: 3.25rem;
    }
}


/* Dark Mode  Rules */
@media (prefers-color-scheme: dark) {
    html {
        background-color: black;
        color: #ddd;
    }

    h2 {
        color: white;
    }

    header {
        background-image: url(assets/background_dark.png);
    }

    #about a {
        color: #ddd;
    }

    nav {
        background-color: rgba(20, 20, 20, 1);
    }
    
    #kcont img.light {
        display: none;
    }

    #kcont img.dark {
        display: block;
    }

    .invert {
        filter: invert(1);
    }

    #pcont div {
        background-color: rgba(20, 20, 20, 0.7);
    }

    #pcont div div h3:hover {
        color: white;
    }

    #bts img:hover {
        box-shadow: 0px 5px rgba(50, 50, 50, 0.7);
    }

    nav a, #projects a, #ccont div a, #bts div a, footer a {
        color: #ddd;
    }
}

/* Enables almost all hover animations for those who didn't enable the 'Reduce Motion' option on their devices */
@media (prefers-reduced-motion: no-preference) {
    header p:hover {
        color: rgba(255, 255, 255, 1);
        transition: 0.3s ease;
    }

    #about h2:hover {
        font-size: 2.25rem;
        background: -webkit-linear-gradient(#017dde, #fe1ef1);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        transition: 0.35s ease;
    }

    #knowledge h2:hover {
        font-size: 2.25rem;
        background: -webkit-linear-gradient(#017dde, #fe1ef1);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        transition: 0.35s ease;
    }

    #projects h2:hover {
        font-size: 2.25rem;
        background: -webkit-linear-gradient(#017dde, #fe1ef1);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        transition: 0.35s ease;
    }

    #pcont div div h3:hover {
        font-size: 1.75rem;
    }

    #contact h2:hover {
        font-size: 2.25rem;
        background: -webkit-linear-gradient(#017dde, #fe1ef1);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        transition: 0.35s ease;
    }

    #ccont img:hover {
        scale: 0.7;
        opacity: 1;
        transition: 0.35s ease;
    }

    #bts h2:hover {
        font-size: 2.25rem;
        background: -webkit-linear-gradient(#017dde, #fe1ef1);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        transition: 0.35s ease;
    }

    #bts img:hover {
        scale: 1.025;
        transition: 0.35s ease;
        box-shadow: none;
    }
}