/* General Rules (universal rules and text size) */
* {
    font-family: -apple-system, BlinkMacSystemFont, 'Inter', 'Montserrat', system-ui;
}


html {
    background-color: #eee;
}

body {
    margin: 0;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.75rem;
}

h3 {
    font-size: 1.5rem;
}

p, a {
    font-size: 1.2rem;
}

/* Navbar Rules */
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-grow: 1;
    flex-wrap: wrap;

    height: fit-content;
    width: 100%;
    
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;

    background-color: white;
    transition: 0.35s ease;
}

nav a {
    color: black;
    text-decoration: none;
    transition: 0.2s ease;
    padding: 13px 20px;
}

nav .active {
    font-weight: bold;
}

nav .click:hover {
    text-decoration: underline;
    cursor: pointer;
}

nav .click:active {
    color: #017dde;
}

nav .special {
    font-weight: bold;
}

nav .special:hover {
    background: -webkit-linear-gradient(#017dde, #fe1ef1);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 0.2s ease;
}

nav span {
    background-color: red;
    padding: 2px 5px;
    margin: 0 5px;
    border-radius: 5px;
    z-index: 2;
}

header {
    margin-top: 70px;
    text-align: center;
}

header h1 {
    transition: 0.35s ease;
}

header p {
    margin: 0 30px;
    opacity: 0.8;
}

/* Section Rules */
section {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

section .container {
    flex-direction: column;
    text-align: center;
    padding: 20px;
    border-radius: 20px;
    margin: 30px;
    width: 40%;
    height: fit-content;
    background-color: rgba(250, 250, 250, 1);
    transition: ease 0.25s;
}

section .container:hover {
    background-color: white;
    transition: ease 0.25s;
}

section .version, section .container {
    display: flex;
    align-items: center;
}

section .version h2 {
    text-align: center;
    margin: 0 20px;
    transition: 0.2s ease;
}

section .version h4 {
    font-size: 1.2rem;
    padding: 5px 15px;
    background-color: red;
    border-radius: 10px;
    width: fit-content;
    height: fit-content;
    margin: 0 20px;
    transition: ease 0.25s;
}

section .version h4:hover {
    background-color: #3cf;
    transition: ease 0.25s;
}

/* Footer Rules */
footer {
    display: flex;
    flex-wrap: wrap;
    margin: 30px 5px 5px 5px;
}

footer p {
    padding: 5px 10px;
    margin: 0;
}

footer p, footer a {
    font-size: 0.8rem;
}

.reducedopacity {
    opacity: 0.6;
}

footer a {
    color: black;
    transition: 0.2s ease;
}

footer a:hover {
    color: #017dde;
    transition: 0.2s ease;
}

footer a:active {
    color: #fe1ef1;
    transition: 0.2s ease;
}

/* Media queries for website responsiveness */
@media only screen and (max-width: 1250px) {
    nav .hide {
        display: none;
    }
}

@media only screen and (max-width: 1015px) {
    section .container {
        width: 95%;
    }
}

@media only screen and (max-width: 1006px) {
    nav .hide2 {
        display: none;
    }
}

@media only screen and (max-width: 750px) {
    nav .hide2 {
        display: none;
    }
}

/* Navbar becomes static */
@media only screen and (max-width: 700px) {
    nav {
        position: static;
        margin: 0;
    }

    header {
        margin-top: 0;
    }
}

@media only screen and (max-width: 450px) {

    section .version {
        flex-direction: column;
    }

    section .version h4 {
        margin: 7px 0;
    }

    section .container {
        padding: 10px;
    }

    section .container ul {
        text-align: left;
    }
}

/* Dark Mode */
@media (prefers-color-scheme: dark) {
    html {
        background-color: black;
        color: #ddd;
    }

    h1, h2, h3, h4 {
        color: white;
    }

    nav {
        background-color: rgba(20, 20, 20, 1);
    }

    nav a, footer a {
        color: #ddd;
    }

    section .container {
        background-color: rgba(20, 20, 20, 1);
    }

    section .container:hover {
        background-color: rgba(30, 30, 30, 1);
    }

    section .version h4:hover {
        background-color: #017dde;
    }
}

/* Enables almost all hover animations for those who didn't enable the 'Reduce Motion' option on their devices */
@media (prefers-reduced-motion: no-preference) {
    header h1:hover {
        font-size: 2.25rem;
        background: -webkit-linear-gradient(#017dde, #fe1ef1);
        -webkit-background-clip: text;
        background-clip: text;
       -webkit-text-fill-color: transparent;
        transition: 0.35s ease;
    }

    section .version h2:hover {
        font-size: 2rem;
        background: -webkit-linear-gradient(#017dde, #fe1ef1);
        -webkit-background-clip: text;
        background-clip: text;
       -webkit-text-fill-color: transparent;
        transition: 0.2s ease;
    }
}